<ion-view>
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Welcome, {{userName}}
      </div>
      <div class="item item-text-wrap">
        Quote of the day: “The more difficult the victory, the greater the happiness in winning.”
        <!--   <button ion-button round>Round Button onclick="loadXMLDoc()">Click!</button> -->
        <button type="button" ng-click="testServerConnect()">Click!</button>

        <p id="demo"></p>

      </div>
    </div>
  </ion-content>
</ion-view>
